
<div class="col-xs-6">
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Mail</label>
      <input type="email"
             id="email"
             class="form-control"
             ngModel
             name="email"
             required
             email
             #email="ngModel">
      <span *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
    </div>
    <div class="form-group">
      <label for="radio">Choose your level</label>
      <select type="radio"
              id="radio"
              name="withoutAnyNameItDoesntWorkButWhyDMme"
              [ngModel] = "selectedLevel"
              class="form-control">
        <option>Basic</option>
        <option>Advanced</option>
        <option>Pro</option>
      </select>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             id="password"
             class="form-control"
             name="password"
             ngModel
             #password = "ngModel"
      required>
      <span  *ngIf="!password.valid && password.touched">Please enter a valid password!</span>
    </div>

  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="!myForm.valid">Submit</button>
  </form>
</div>
